{% load static %}
<!-- SIDEBAR MAIN -->
<div class="logo">
	<a href="{% url 'account:index_pelamar' %}">
		<img src="{% static "images/logo/logo-white.svg" %}" alt="Arrava" />
	</a>
</div>
<div class="menu-sidebar2__content js-scrollbar1">
	<div class="account2">
		<div class="image img-cir img-120">
			<img src="{{request.user.candidate.foto_profil.url}}" alt="{{request.user.candidate.nama_depan}}" />
		</div>
		<h4 class="name">
			{{request.user.candidate.nama_depan}} {{request.user.candidate.nama_belakang}}
		</h4>
		<a href="{% url 'logout1' %}">Keluar</a>
	</div>
	<nav class="navbar-sidebar2">
		<ul class="list-unstyled navbar__list">
			<li class="has-sub">
				<a href="{% url 'account:profil' %}">
					<img src="{% static "images/icon/profil.svg" %}" style="width:27px;">
					Profil
				</a>
			</li>
			<li class="has-sub">
				<a href="{% url 'account:hasil_keputusan' %}">
					<img src="{% static "images/icon/test.svg" %}" style="width:27px;">
					Hasil Keputusan
				</a>
			</li>
		</ul>
	</nav>
</div>