{% extends "base_menu/base.html" %}

{% load static %}

{% block halaman %}
{{judul}}
{% endblock halaman %}

{% block isi %}
<div class="page-wrapper">
	{% if request.user.is_staff is True %}
	{% include "base_menu/sideA.html" %}
	{% elif request.user.is_leader is True %}
	{% include "base_menu/sideL.html" %}
	{% endif %}

	<div class="page-container2">
		{% include "base_menu/header.html" %}

		{% if request.user.is_staff is True %}
		{% include "base_menu/side_mobileA.html" %}
		{% elif request.user.is_leader is True %}
		{% include "base_menu/side_mobileL.html" %}
		{% endif %}

		{% include "base_menu/breadcrumb.html" %}

		<!-- CONTENT -->
		<section>
			<div class="section__content section__content--p30">
				<div class="container-fluid">
					<br>
					<div class="row">
						<div class="col-md-12">				
							<div class="overview-wrap">
								<h2 class="title-1 m-b-10">{{judul_isi}}</h2>
								{% if request.user.is_staff is True %}
								{% if verif is False %}
								<a href="{% url 'kriteria:tambah_krit' %}" class="btn btn-primary" title="Tambah Data Kriteria">
									<img src="{% static "images/icon/adds.svg" %}" style="width:25px;"> Tambah
								</a>
								{% endif %}
								{% endif %}
							</div>
							<hr>
							<div class="table-responsive table--no-card m-b-30">
								<table class="table table-borderless table-striped table-earning">
									<thead class="">
										<tr>
											<th rowspan="2">ID</th>
											<th rowspan="2">Nama</th>
											<th rowspan="2">Kaidah</th>
											<th rowspan="2">Tipe Preferensi</th>
											<th colspan="2">Parameter</th>
											{% if request.user.is_staff is True %}
											<th rowspan="2">Aksi</th>
											{% endif %}
										</tr>
										<tr>
											<th>P</th>
											<th>Q</th>
										</tr>
									</thead>
									<tbody class="">
										{% for data in tabel %}
										<tr>
											<td>{{data.id_kriteria}}</td>
											<td>{{data.nama_kriteria}}</td>
											<td>{{data.kaidah}}</td>
											<td>{{data.tipe_preferensi}}</td>
											<td>{{data.parameter_p}}</td>
											<td>{{data.parameter_q}}</td>
											{% if request.user.is_staff is True %}
											{% if verif is True %}
											<td>
												<span class="status--process">Selesai</span>
											</td>
											{% else %}
											<td>
												<a href="{% url 'kriteria:ubah_krit' data.id_kriteria %}" class="btn btn-outline-warning" title="Ubah Data Kriteria">
													<img src="{% static "images/icon/loop.svg" %}" style="width:15px;">
												</a>
												<a href="{% url 'kriteria:hapus_krit' data.id_kriteria %}" class="btn btn-outline-danger" title="Hapus Data Kriteria">
													<img src="{% static "images/icon/delete.svg" %}" style="width:15px;">
												</a>
											</td>
											{% endif %}
											{% endif %}
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		{# {% include "base_menu/footer.html" %} #}

	</div>
</div>
{% endblock isi %}