{% extends "base_menu/base.html" %}

{% block halaman %}
{{judul}}
{% endblock halaman %}

{% block isi %}
<div class="page-wrapper">
	<div class="page-content">
		<br>
		<div class="container">
			<div class="col-md-10 offset-md-1">
				<div class="card">
					<form method="POST" enctype="multipart/form-data">
						<div class="card-header">
							<strong>{{judul_isi}}</strong> Forms
						</div>
						<div class="card-body card-block">
							{% csrf_token %}
							<div class="row col-md-12">
								<div class="form-group col-md-6">
									{{data1.id_candidate.errors}}
									{{data1.id_candidate.label_tag}}
									{{data1.id_candidate}}
								</div>
								<div class="form-group col-md-6">
									{{data2.email.errors}}
									{{data2.email.label_tag}}
									{{data2.email}}
								</div>
							</div>
							<div class="row col-md-12">
								<div class="form-group col-md-6">
									{{data2.password1.errors}}
									{{data2.password1.label_tag}}
									{{data2.password1}}
								</div>
								<div class="form-group col-md-6">
									{{data2.password2.errors}}
									{{data2.password2.label_tag}}
									{{data2.password2}}
								</div>
							</div>
							<div class="row col-md-12">
								<div class="form-group col-md-6">
									{{data1.nama_depan.errors}}
									{{data1.nama_depan.label_tag}}
									{{data1.nama_depan}}
								</div>
								<div class="form-group col-md-6">
									{{data1.nama_belakang.errors}}
									{{data1.nama_belakang.label_tag}}
									{{data1.nama_belakang}}
								</div>
							</div>
							<div class="row col-md-12">
								<div class="form-group col-md-4">
									{{data1.jenis_kelamin.label_tag}}
									{% for jenis_kelamin in data1.jenis_kelamin %}
									<div class="custom-control custom-radio">
										{{jenis_kelamin.tag}}
										<label class="custom-control-label" for="{{jenis_kelamin.id_for_label}}">
											{{jenis_kelamin.choice_label}}
										</label>
									</div>
									{% endfor %}
								</div>
								<div class="form-group col-md-8">
									{{data1.tgl_lahir.errors}}
									{{data1.tgl_lahir.label_tag}}
									<div class="form-row">
										{{data1.tgl_lahir}}
									</div>
								</div>
							</div>
							<div class="row col-md-12">
								<div class="form-group col-md-4">
									{{data1.no_telp.errors}}
									{{data1.no_telp.label_tag}}
									{{data1.no_telp}}
								</div>
								<div class="form-group col-md-8">
									{{data1.alamat.errors}}
									{{data1.alamat.label_tag}}
									{{data1.alamat}}
								</div>
							</div>
							<div class="row col-md-12">
								<div class="form-group col-md-6">
									{{data1.foto_profil.errors}}
									{{data1.foto_profil.label_tag}}
									<br>
									{{data1.foto_profil}}
								</div>
								<div class="form-group col-md-6">
									{{data1.cv.errors}}
									{{data1.cv.label_tag}}
									<br>
									{{data1.cv}}
								</div>
							</div>
						</div>
						<div class="card-footer form-group">
							{% if request.user.is_staff is True %}
							<button type="submit" class="btn btn-outline-success">
								Selesai
							</button>
							<a href="javascript:history.back()" class="btn btn-outline-danger">
								Batal
							</a>
							{% elif request.user.is_leader is True %}
							<a href="javascript:history.back()" class="btn btn-outline-warning">
								Kembali
							</a>
							{% endif %}
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock isi %}