{% extends "base_home/base.html" %}

{% load static %}

{% block halaman %}
Reset Password
{% endblock halaman %}

{% block isi %}
<div class="page-content--bge5">
	<div class="container">
		<div class="login-wrap">
			<div class="login-content">
				<div class="login-logo">
					<a href="#">
						<img src="{% static "images/logo/logo-black.svg" %}" alt="Arrava">
					</a>
				</div>
				<div class="login-form">
					<div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
						Pesan dikirim ke email.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<p style="text-align:justify;">
						Kami telah mengirim pesan ke email anda. Jika anda tidak menerima email yang kami kirim, tolong pastikan anda telah menginputkan email sesuai akun yang terdaftar. Cek folder spam pada email!
					</p>
					<br>
					<p style="text-align:right;">
						Terima Kasih.
					</p>
					<p>
						<a href="{% url 'index' %}" class="btn btn-warning">Beranda</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock isi %}