{% extends "base_home/base.html" %}

{% load static %}

{% block halaman %}
Reset Password
{% endblock halaman %}

{% block isi %}
<div class="page-content--bge5">
	<div class="container">
		<div class="login-wrap">
			<div class="login-content">
				<div class="login-logo">
					<a href="#">
						<img src="{% static "images/logo/logo-black.svg" %}" alt="Arrava">
					</a>
				</div>
				<div class="login-form">
					<div class="sufee-alert alert with-close alert-warning alert-dismissible fade show">
						Masukkan email anda untuk mendapatkan password yang baru.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form action="" method="POST">
						{% csrf_token %}
						<div class="form-group">
							<label for="email">Email</label>
							<input class="au-input au-input--full" type="email" name="email" placeholder="Alamat Email" id="id_email" required="True">
						</div>

						{% for field in form %}
						{% for error in field.errors %}
						<p>{{ error }}</p>
						{% endfor %}	
						{% endfor %}

						<button type="submit" class="btn btn-block btn-success m-b-20">
							Kirim
						</button>
						<a href="javascript:history.back()" class="btn btn-block btn-danger m-b-20">Batal</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock isi %}