{% extends "base_menu/base.html" %}

{% load static %}

{% block halaman %}
Ubah Password
{% endblock halaman %}

{% block isi %}
<div class="page-content--bge5">
	<div class="container">
		<div class="login-wrap">
			<div class="login-content">
				<div class="login-logo">
					<a href="#">
						<img src="{% static "images/logo/logo-black.svg" %}" alt="Arrava">
					</a>
				</div>
				<div class="login-form">
					<div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
						Password berhasil diperbarui.
					</div>
					<p style="text-align:center;">
						<a href="{% url 'login1' %}" class="btn btn-warning">Arrava</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock isi %}