{% extends "base_home/base.html" %}

{% load static %}

{% block halaman %}
Reset Password
{% endblock halaman %}

{% block isi %}
<div class="page-content--bge5">
	<br>
	<div class="container">
		<div class="col-md-6 offset-md-3">
			<div class="card">
				<form method="POST" class="#">
					<div class="card-header">
						<strong>Reset Password</strong> Forms
					</div>
					<div class="card-body card-block">
						{% csrf_token %}
						<div class="form-group col-md-12">
							<label for="new_password1">Password Baru</label>
							<input type="password" name="new_password1" class="form-control" placeholder="Masukkan Password" id="id_new_password1" required="true">
						</div>
						<div class="form-group col-md-12">
							<label for="new_password2">Konfirmasi Password Baru</label>
							<input type="password" name="new_password2" class="form-control" placeholder="Masukkan Konfirmasi Password" id="id_new_password2" required="true">
						</div>

						{% for field in form %}
						{% for error in field.errors %}
						<p>{{ error }}</p>
						{% endfor %}	
						{% endfor %}

					</div>
					<div class="card-footer form-group">
						<button type="submit" class="btn btn-outline-success">
							Ganti Password
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock isi %}