{% load static %}
<header class="header-desktop3 d-none d-lg-block">
	<div class="section__content section__content--p35">
		<div class="header3-wrap">
			<div class="header__logo">
				<a href="{% url 'index' %}">
					<img src="{% static "images/logo/logo-white.svg" %}" alt="Arrava">
				</a>
			</div>
			<div class="header__navbar">
				<ul class="list-unstyled">
					<li class="#">
						<a href="{% url 'index' %}">
							<i class="">
								<img src="{% static "images/icon/home.svg" %}" style="width:25px;">
							</i>
							<span class="bot-line"></span>Beranda
						</a>
					</li>
					<li class="has-sub">
						<a href="{% url 'lowong_kerja' %}">
							<i class="">
								<img src="{% static "images/icon/briefcase.svg" %}" style="width:25px;">
							</i>
							<span class="bot-line"></span>Lowongan Kerja
						</a>
					</li>
				</ul>
			</div>
			<div class="header__tool">
				<div class="account-wrap">
					<a href="{% url 'login1' %}" class="btn btn-secondary">
						<img src="{% static "images/icon/log-in.svg" %}" style="width:30px;">
						Masuk
					</a>
				</div>
			</div>
		</div>
	</div>
</header>